.nav.nav-tabs.nav-justified
  li class=active_class_name('courses') role="presentation" = link_to t('courses_title'), courses_path
  li class=active_class_name('categories') role="presentation" = link_to t('category'), categories_path
  li class=active_class_name('certficates') role="presentation" = link_to t('certficates'), certificates_path
