#course-content {
  ul {
      list-style: none
  }

}

.chapter-name-wrap {
  background-color: black;
  color: #fff;
  padding: 10px;
  @include border-radius(5px);
}

.chapter-container {
  .add-new-chapter{
    background: #191919;
    @include border-radius(4px);
  }
  .add-new-chapter-btn,.add-evaluation-btn {
    width: 90%;
    margin: 5px;
  }
  .chapter{
    position: relative;
    .cs-content-tab {
      display: none;
    }
  }

}
.section-list {
  .add-chapter-wrap {
    .chapter-name-wrap{
      background-color: #286090;
      border-color: #2e6da4;
    }
  }
  .section {
    margin:5px auto;
    width:90%;
    .course_section {
      position:relative;
    }
  }
  padding: 0;
}
a.add-content {
  position: absolute;
  right: 10px;
  top: 8px;
}
.section-btn-wrap {
  .add-section, .add-assessment {
    width: 50%;
    float: left;
    a {
        width: 90%;
        margin: 10px 35px;
    }
  }
}

.cs-content-tab {
  a {
    margin:5px;
  }
}